body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  color: #00B7FF;
}

img{
  border-radius: 10px;
  width: 30%;
  margin: 10px;
}
